{% extends "base.html" %}

{% block title %}{{ _('Prijava') }}{% endblock %}

{% block content %}
<div class="card-style">
    <h2 class="text-center mb-4">{{ _('Prijava') }}</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="error-msg">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('main.login') }}">
        <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="{{ _('Email') }}" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="{{ _('Lozinka') }}" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-custom">{{ _('Prijavi se') }}</button>
        </div>
       <p class="mt-3 text-center">
  <a href="{{ url_for('main.reset_password_request') }}" 
     class="text-danger fw-bold">
     {{ _('Zaboravili ste lozinku?') }}
  </a>
</p>
    </form>

    <p class="mt-3 text-center">
    {{ _('Nemate nalog?') }}
    <a href="{{ url_for('main.register') }}" class="btn btn-warning ms-2">
        {{ _('Registrujte se') }}
    </a>
</p>

</div>
{% endblock %}