{% extends "base.html" %}

{% block title %}Политика приватности{% endblock %}

{% block content %}
<div class="privacy-text">
    <h2 class="text-center mb-4">Политика приватности</h2>

    <p>
        Ова Политика приватности описује начине на које апликација <strong>Profesionalci</strong> прикупља, користи, чува и штити ваше личне податке у складу са Општом уредбом о заштити података (GDPR), Законом о заштити података о личности Републике Србије и другим релевантним прописима.
    </p>

    <h5>1. Контролор података</h5>
    <p>
        Контролор ваших личних података је власник апликације <strong>Profesionalci</strong>, са седиштем у Републици Србији. За сва питања у вези обраде података можете контактирати администратора преко званичних канала.
    </p>

    <h5>2. Прикупљање података</h5>
    <p>
        Прикупљамо личне податке које нам добровољно достављате приликом регистрације и коришћења апликације, укључујући, али не ограничавајући се на:
    </p>
    <ul>
        <li>Подаци о послодавцу: назив фирме, ПИБ, контакт информације, е-маил адреса, лозинка;</li>
        <li>Подаци о возачима у складу са законом и уговором о раду;</li>
        <li>Друге информације које нам доставите приликом коришћења услуга апликације.</li>
    </ul>

    <h5>3. Правна основа за обраду података</h5>
    <p>
        Обрада ваших података врши се на основу:
    </p>
    <ul>
        <li>Вашег пристанка (на пример, при регистрацији);</li>
        <li>Испуњења уговора или предуговорних радњи (радни односи, запошљавање);</li>
        <li>Извршења законских обавеза које се односе на послодавца;</li>
        <li>Законитих интереса власника апликације, као што је обезбеђење безбедности и спречавање злоупотреба.</li>
    </ul>

    <h5>4. Сврха обраде података</h5>
    <p>
        Ваши лични подаци се користе искључиво у следеће сврхе:
    </p>
    <ul>
        <li>Управљање радним односима и запошљавањем возача;</li>
        <li>Оцењивање и праћење рада возача;</li>
        <li>Обезбеђење функционалности и безбедности апликације;</li>
        <li>Искуствена и техничка подршка.</li>
    </ul>

    <h5>5. Чување и безбедност података</h5>
    <p>
        Примењујемо техничке и организационе мере заштите података како бисмо обезбедили њихову поверљивост, интегритет и доступност. Лични подаци се чувају онолико дуго колико је потребно за испуњење сврха обраде, укључујући и законске обавезе чувања евиденција у радном односу.
    </p>

    <h5>6. Чување и обрада података о возачима</h5>
    <p>
        Подаци о возачима, укључујући јединствени хеширани идентификатор (ЈМБГ), чувају се трајно у бази података у складу са важећим законским прописима о вођењу евиденција у радном односу, као и ради очувања интегритета историје рада, оцењивања и коментара.
    </p>
    <p>
        Пошто је трајно чување ових података неопходно за исправно функционисање апликације и законито праћење радне историје, право на брисање или повлачење пристанка не примењује се на ову категорију података.
    </p>

    <h5>7. Приступ и дељење података</h5>
    <p>
        Приступ вашим личним подацима имају само овлашћени корисници апликације и запослени који су овлашћени за обраду. Не делимо ваше податке са трећим лицима осим у случајевима када то захтева закон или је неопходно ради пружања услуга.
    </p>

    <h5>8. Ваша права</h5>
    <p>
        У складу са важећим прописима, имате следећа права у вези са својим личним подацима, осим за податке који су законски обавезни за трајно чување у евиденцијама радног односа:
    </p>
    <ul>
        <li>Право приступа својим подацима;</li>
        <li>Право на исправку нетачних или непотпуних података;</li>
        <li>Право на ограничавање обраде података;</li>
        <li>Право на преносивост података;</li>
        <li>Право да у било ком тренутку повучете пристанак за обраду података када је обрада заснована на пристанку, осим за законски обавезне податке;</li>
        <li>Право на подношење жалбе надзорном органу за заштиту података у Републици Србији.</li>
    </ul>

    <h5>9. Колачићи (Cookies)</h5>
    <p>
        Апликација користи колачиће за побољшање корисничког искуства и функционисање неких функционалности. Користе се само неопходни колачићи који не прикупљају личне податке.
    </p>

    <h5>10. Измене политике приватности</h5>
    <p>
        Задржавамо право да изменимо ову политику приватности у складу са законским изменама или променама у функционисању апликације. Све измене биће објављене на овој страници.
    </p>

    <h5>11. Контакт</h5>
    <p>
        За сва питања, захтеве или пријаве у вези са заштитом личних података, можете нас контактирати путем званичних канала апликације.
    </p>

    <hr>
    <p class="text-center mt-4">
        Коришћењем апликације сагласни сте са овом политиком приватности.
    </p>
</div>
{% endblock %}
