{% extends 'base.html' %}
{% block title %}Ресетовање лозинке{% endblock %}

{% block content %}
<div class="card-style">
    <h2>Ресетовање лозинке</h2>
    <p>Унесите ваш имејл да бисте добили линк за постављање нове лозинке.</p>
    <form method="POST">
        <div class="form-group">
            <label for="email">Имејл адреса:</label>
            <input type="email" name="email" class="form-control" placeholder="unesite@email.com" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Пошаљи линк</button>
    </form>
</div>
{% endblock %}
