{% extends 'base.html' %}
{% block title %}Ресетовање лозинке{% endblock %}

{% block content %}
<div class="card-style">
    <h2>Ресетовање лозинке</h2>
    <p>Унесите ваш имејл да бисте добили линк за постављање нове лозинке.</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="form-group">
            <label for="email">Имејл адреса:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="unesite@email.com" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Пошаљи линк</button>
    </form>
</div>
{% endblock %}
