{% extends "base.html" %}

{% block title %}Услови коришћења{% endblock %}

{% block content %}
<div class="container py-5 terms-text" style="max-width: 800px; color: white;">

    <h2 class="text-center mb-4">Услови коришћења</h2>

    <p class="mb-4 text-white text-center">
    Страница са условима коришћења доступна је искључиво регистрованим послодавцима који користе апликацију као овлашћени корисници.
    </p>


    <h5 class="mt-4">1. Намена апликације</h5>
    <p>
        Ова веб апликација намењена је искључиво послодавцима у транспортној индустрији ради евиденције и оцењивања рада возача, укључујући приказ историје ангажмана код различитих послодаваца.
    </p>

    <h5 class="mt-4">2. Обрада личних података</h5>
    <p>
        Коришћењем апликације сагласни сте да послодавци могу уносити и обрађивати податке о запосленима у складу са законом, и то искључиво у контексту радног односа или процеса запошљавања.
    </p>

    <h5 class="mt-4">3. Политика обраде ЈМБГ-а</h5>
    <ul>
        <li>ЈМБГ се користи само као механизам за везу података при идентификацији возача, и то једнократно – приликом уноса од стране послодавца;</li>
        <li>Никада се не приказује у интерфејсу, бази или логовима – нити је доступан било ком кориснику;</li>
        <li>ЈМБГ се хешује једносмерно (SHA-256) и није могуће вратити га у оригинал;</li>
        <li>Апликација (власник) нема приступ оригиналним ЈМБГ вредностима и не сматра се руковаоцем података у смислу GDPR;</li>
        <li>Обрада ЈМБГ-а је правно заснована на уговорном односу између послодавца и возача;</li>
    </ul>

    <h5 class="mt-4">4. Приступ подацима</h5>
    <p>
        Само регистровани послодавци могу прегледати податке о возачима путем броја тахограф картице, броја CPC картице и иницијалне идентификације хешованим ЈМБГ-ом.
    </p>

    <h5 class="mt-4">5. Забрана злоупотребе</h5>
    <p>
        Забрањено је свако неовлашћено коришћење, копирање, пренос или откривање података. Корисници који прекрше правила биће онемогућени у даљем коришћењу апликације и могу сносити правне последице.
    </p>

    <h5 class="mt-4">6. Техничка подршка</h5>
    <p>
        У случају техничких проблема, обратите се администратору апликације путем званичног контакт обрасца.
    </p>

    <hr class="mt-5">
    <p class="text-center mt-4">
        Коришћењем апликације прихватате све наведене услове.
    </p>
</div>
{% endblock %}
